<template>
    <v-row>
        <v-col
            cols=12
            lg=4
            md=6
        >
            <form method="POST">
                <input type="hidden" name="_token" :value="csrf">

                <h2><v-icon style="font-size: 30px;">mdi-file-pdf-outline</v-icon> {{ documentI+1 }}/{{ documents.length}}</h2>

                <div
                    v-for="(document, i) in documents"
                    :key="document.id"
                    v-show="documentI == i"
                    >

                    <v-autocomplete
                        item-text="name"
                        item-id="id"
                        class="mt-6"
                        :items="categories"
                        label="Kategorie"
                        :name="`category[${i}]`"
                        dense
                        v-model="document.category"
                    ></v-autocomplete>


                    <v-autocomplete
                        item-text="name"
                        :disabled="!selectedCategory"
                        class="mt-6"
                        :items="selectedCategory ? selectedCategory.sub_categories : []"
                        label="Unterkategorie"
                        :name="`sub-category[${i}]`"
                        dense
                        v-model="document.subCategory"
                    ></v-autocomplete>

                    <v-text-field
                        label="Zusatz (optional)"
                        :name="`additional[${i}]`"
                    ></v-text-field>
                </div>

                <v-btn
                    :disabled="documentI == 0"
                    class="mt-6 mr-2"
                    @click="previousDocument"
                >Zurück</v-btn>

                <v-btn :disabled="documentI == documents.length-1 || currentDocument.category == null || currentDocument.subCategory == null"
                    class="mt-6 mr-2"
                    @click="nextDocument"
                >Weiter</v-btn>

                <v-btn :disabled="documentI < documents.length-1 || currentDocument.category == null || currentDocument.subCategory == null"
                    type="submit"
                    class="mt-6 mr-2"
                    color="success"
                >Fertigstellen</v-btn>
            </form>
        </v-col>

        <v-col
            cols=12
            lg=8
            md=6
        >
            <div class="mt-6 embed-container">
                <embed
                    class="embed-pdf"
                    :class="{visible: documentI%2 == 0}"
                    :src="documentLink(documents[nextEvenDocument])"
                    width="100%"
                    height="800"
                    type="application/pdf"
                >

                <embed
                    class="embed-pdf"
                    :class="{visible: documentI%2 == 1}"
                    :src="documentLink(documents[nextOddDocument])"
                    width="100%"
                    height="800"
                    type="application/pdf"
                >
            </div>
        </v-col>
    </v-row>
</template>

<script>
import { VApp, VBtn, VSelect, VRow, VCol, VAutocomplete } from 'vuetify/lib'
    export default {
        components: {
            VBtn,
            VApp,
            VSelect,
            VRow,
            VCol,
            VAutocomplete
        },

        props: [
            "apiUrl",
            "categories",
            "documentData",
        ],

        data() {
            return {
                "documentI": 0,
                "csrf": document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                "documents": JSON.parse(JSON.stringify(this.documentData)),
            }
        },

        computed: {
            categoriesSimple() {
                return this.categories.map(item => item.name)
            },

            selectedCategory() {
                for (var category of this.categories) {
                    if (category.name == this.currentDocument.category) {
                        return category
                    }
                }

                return null
            },

            currentDocument() {
                return this.documents[this.documentI]
            },

            nextEvenDocument() {
                return Math.min(this.documents.length-1, Math.ceil(this.documentI/2)*2)
            },

            nextOddDocument() {
                return Math.min(this.documents.length-1, Math.floor(this.documentI/2)*2+1)
            },
        },

        methods: {
            nextDocument() {
                this.documentI = Math.min(this.documents.length - 1, this.documentI + 1)

                for (var doc of this.documents) {
                    if (!doc.category) {
                        doc.category = this.documents[0].category;
                    }
                }
            },

            documentLink(document) {
                console.log(document)
                return `${this.apiUrl}/document/${document.id}`
            },

            previousDocument() {
                this.documentI = Math.max(0, this.documentI - 1)
            },

            finish() {
                var formData = new FormData(document.getElementById("loginForm"));
                this.$http.post(apiEndPoint, formData)
                .then(response => {
                    console.log(response.body);
                }, response => {});
            }
        }
    };
</script>